# Documentation
docs/
*.html
*.md
*.pdf
docs/architecture/
*.html
*.md
*.pdf

# Secrets & environment
.env

# Python virtual environment
.venv/

# Capture data
capture/pcap/
*.pcap

# Binary / credential helpers
docker-credential-pass-*

# Misc non-code files
*.txt
LICENSE
